$getst:rgb(245,63,139);
$bgimg:linear-gradient(#fd6850,#f02ea1);
$bgimgft:linear-gradient(rgb(115, 115, 229),#f02ea1);

             
/******************************Content Card************************/
.card{  
     width: 100%;
     height:323px;
    // position: relative;
     border-radius: 8px;
     box-shadow: 2px 1px rgba(99, 99, 55,0.2); 
     background-color:rgba(255, 255, 255, 0.806);
     display:grid;
     grid-template-rows: 3fr 0.8fr;

    .grid_card{
        max-width:100%;
        display: grid;
        grid-template-rows: 0.4fr 0.5fr; 
        margin: 5px 10px 0px 10px;
        h1{
          font-size: 2em;
          padding:60px 0px 0px 20px;
        }
        .paragraph{
            position: relative;
            min-width: 200px;
            min-height: 110px;
            padding:17px 20px 0px 20px;
          
                p{
                    opacity: 50%;      
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient:vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.5;
                    font-size: 1.5em;
                }
            }
        }
        .get_s{
            min-width: 200px;
            display: flex;
            justify-content: start;
            margin: 3px 10px 0px 10px;
            .getstarted{ 
                color:$getst ;
                font-weight: bold; 
                font-size: 1.5em; 
                padding:0px 0px 0px 20px;
            
            }
            .getstarted:hover{
                cursor: pointer;
                color: aqua;
            }
        }
        

}
             
/******************************Content Card1************************/
.card1{
    width: 100%;
    height: 320px;
    background-image: $bgimg;
    border-radius: 10px;

    .card1_span{
        max-width: 330px;
        height: 75%;
        padding:45px 0px 0px 30px;
        h1{
            font-size: 2.5em;//3
            padding:17px 50px 0px 0px;
            color: #fff;
        }
    }
    
}
.card1:is(:hover){
    cursor: pointer;
}